/* SCSS Document */
@import "compass";

html, body {
	height: 100%;
}

body {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 14px;
	background: #777 fixed;
	@include linear-gradient(color-stops(#888, #444));
	padding: 0;
	margin: 0;
	text-align: center;
}
#page {
	margin: 0 auto;
	max-width: 1200px;
	text-align: left;
	padding: 0 0 20px 0;
	background: #f3fbff;
	@include box-shadow(#000, 1px, 1px, 15px);
}

#header {
	background: #1493ff;
	height: 120px;
	@include linear-gradient(color-stops(#74bfff, #006ecd));
	margin: 0 0 25px;
}

#title {
	padding: 30px 0;
	margin: 0;
	font-weight: bold;
	color: #fff;
	height: 32px;
	text-align: center;
	font-size: 32px;
}

#menu {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 30px;
	border-top: 1px solid #068DFF;
	background: #004988;
	@include linear-gradient(color-stops(#0076db, #004988));
}

#menu a {
	display: block;
	color: white;
	padding: 5px 15px;
	height: 20px;
	font-weight: bold;
	text-decoration: none;
	float: left;
	text-align: center;
}

#menu a:hover, #menu a:focus {
	outline: none;
	background: #0076db;
	@include linear-gradient(color-stops(#004988, #0076db));
}

#content {
	padding: 10px;
	
	#loading {
		margin: 30px auto;
		padding: 7px;
		width: 250px;
		border: 2px solid #c28789;
		background: #ffd6d7;
		@include border-radius(7px);
	}
	.spacer {
		visibility: hidden;
	}
}
#content a {
	color: #c00;
	text-decoration: none;
	cursor: pointer;
}
#content a:hover {
	color: #d33;
	text-decoration: underline;
}
#content h1 {
	margin-top: 0px;
}


#content #video_bloc {
	width: 955px;
	margin: 0 auto;
	text-align: center;
	
	a {
		width: 133px;
		height: 180px;
		overflow: hidden;
		cursor: pointer;
	}
	a:hover, a:focus {
		text-decoration: none;
	}
	.fleche {
		width: 0;
		height: 0;
		border-top: 90px solid transparent;
		border-bottom: 90px solid transparent;
		border-left: 133px solid transparent;
		border-right: 133px solid transparent;
	}
	.in_fleche {
		position: absolute;
		width: 100px;
		margin-top: 70px;
	}
}
#content #led0 {
	float: left;
	margin-top: 170px;
	
	.fleche {
		margin-left: -133px;
		border-right-color: #7c7c7c;
	}
	.in_fleche {
		padding-left: 40px;
	}
}
#content #led0:hover, #led0:focus {
	outline: none;
	.fleche {
		border-right-color: #a6a6a6;
	}
}
#content #led1 {
	float: right;
	margin-top: -350px;
	
	.fleche {
		border-left-color: #7c7c7c;
	}
}
#content #led1:hover, #led1:focus {
	outline: none;
	.fleche {
		border-left-color: #a6a6a6;
	}
}

#cam {
	width: 687px;
	height: 500px;
	border: 10px solid #b8b8b8;
	margin: 0 auto;
	@include border-radius(7px);
}

#content a.btn {
	padding: 3px 7px;
	margin: 3px 10px;
	text-decoration: none;
	font-weight: bold;
	color: #222;
	border: 1px solid #555;
	background: #EEE;
	@include linear-gradient(color-stops(#EEE, #CCC));
	@include border-radius(7px);
}
#content a.btn:hover {
	text-decoration: none;
	background: #FFF;
	@include linear-gradient(color-stops(#FFF, #DDD));
}

#content a.switch_out, #content span.switch_out {
	display: block;
	float: left;
	overflow: hidden;
	width: 74px;
	height: 22px;
	margin: 3px 7px;
	padding: 0;
	color: #222;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	border: 1px solid #222;
	background: #555;
	@include linear-gradient(color-stops(#333, #777));
	@include border-radius(5px);
	
	.switch_in {
		width: 111px;
		height: 22px;
		margin: 0;
		padding: 0;
		
		span {
			display: block;
			float: left;
			margin: 0;
			padding: 4px 0;
			line-height: 14px;
			height: 14px;
			width: 37px;
		}
		
		.on {
			@include linear-gradient(color-stops(#72bb00, #93f000));
			@include border-left-radius(3px);
		}
		.mask {
			text-indent: -9999px;
			@include linear-gradient(color-stops(#d0d0d0, #afafaf));
			@include border-radius(3px);
		}
		.off {
			color: white;
			@include linear-gradient(color-stops(#cf0000, #f00000));
			@include border-right-radius(3px);
		}
	}
}
#content span.switch_out {
	color: #EEE;
	padding: 3px 0;
	height: 55px;
	font-weight: normal;
}
#content a.switch_out:hover {
	text-decoration: none;
}


.spacer {
	clear: both;
}
#footer {
	font-size: 0.8em;
	color: #666;
	text-align: center;
	margin: 10px 50px 0 50px;
	padding-top: 10px;
	border-top: 1px dotted #666;
}

#status {
	padding: 0 10px 10px;
	margin: 0 10px 10px;
	font-weight: bold;
}
#status p {
	padding: 5px 0 5px 10px;
	text-indent: -10px;
	margin: 0;
}
#status .leds {
	font-size: 18pt;
}
#status .leds a {
	color: #ddd;
	cursor: pointer;
}
#status .leds a:hover {
	color: #ddd;
	text-decoration: none;
}

.examplebox {
	margin:20px 20px 20px 20px;
	padding: 8px;
	border: 1px dotted #888;
	text-align:center;
	background:#707d89;
}

.code {
	font-family: Courier New, Courier, fixed-width, fixed;
}

.bloc {
	margin: 10px;
	padding: 7px;
	border: 1px solid #707d89;
	font-weight: normal;
	@include border-radius(5px);
}
.exercise, h5 {
	background: #707d89;
	padding: 2px 2px 2px 7px;
	font-weight: bold;
	font-size: 16px;
	color: white;
	margin: 0 0 7px 0;;
}

.error {
	margin-left: 10px;
	padding: 20px;
	background: #707d89;
	border-left: 2px solid #707d89;

}

#content h6 {
	border-top: 1px dashed #888;
	margin: 15px;
	padding: 0px;
	height: 1px;
}

.examplebox td {
	text-align:left;
	padding-right: 15px;
	margin: 0px auto;
	background:#707d89;
}

fieldset {
	margin:10px 20px 10px 20px;
	padding: 8px;
	border: 1px dotted #888;
	background:#888;
}

fieldset div {
	padding: 2px 0px 2px 150px;
}

fieldset label {
	padding-top: 2px;
	padding-left: 5px;
	width: 135px;
	font-weight: bold;
}

fieldset div label {
	margin-left: -140px;
	padding-top: 2px;
	width: 135px;
	font-weight: bold;
	position: absolute;
}

fieldset input {
	width: 250px;
}

fieldset input.sm {
	width: auto;
}

fieldset textarea {
	width: 250px;
}

.result
{
	margin: 10px 40px 10px 40px;
	padding: 8px;
	border: 1px solid #888;
	text-align: center;
	font-weight: bold;
	background: #888;
}

	.ok {
		border-color: #888;
		background: #efe;
	}
	
	.fail {
		border-color: #888;
		background: #fee;
	}
	
	.unk {
		border-color: #cc6;
		background: #ffd;
	}
	
	fieldset2 {
		margin:10px 40px 10px 40px;
		padding: 8px;
		border: 1px dotted #888;
		background:#888;
	}